.homepage_container {
    background: #FFFFFF;
}

.product_container {
    background: #dedfd7;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}