.homepage_container {
    background: #FFFFFF;
}

.product_container {
    background: #dedfd7;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-left: 17rem;
    margin-right: 17rem;

    text-align: center;
}

.product_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}