/* #root {
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 ;
  text-align: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  font-family: 'Noto Sans', sans-serif;
}