.page_product_image {
    cursor: pointer;
}

.productcomponent_container {
    border: black solid 1px;
    padding: 0.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}