.page_product_image {
    cursor: pointer;
}

.productcomponent_container {
    border: black solid 0px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    
    padding: 1rem;
    min-width: 200px;

    background-color: #ffffff;

    color: #555555;
    font-size: 14px;
    font-weight: 750;
}

.productcomponent_container p {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}

.productcomponent_container > img {
    margin-top: 0.5rem;

    /* For Brown Coat */
    object-fit: cover;
    object-position: 42% 0;
}