.page_product_image {
    cursor: pointer;
}

.productcomponent_container {
    border: black solid 1px;
    padding: 0.6rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    min-width: 300px;

    background-color: #ffffff;

    color: #555555;
    font-size: 14px;
    font-weight: 750;
}

.productcomponent_container p {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}