.individualproduct_container {
    background: #dedfd7;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.addtocart_button > button {
    padding: 1rem;
    border-radius: 5px;
}

.addtocart_button > button:hover {
    border: 2px solid #847c7c;
  }