h1 {
    margin-left: 12rem;
}

.orderhistory_container {
    border: solid black 2px;
}

.orderhistory_container > h1 {
    font-size: 50px;
}

.orderhistory_container {
    background: #dedfd7;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
}