.loginregister_container {
    background: #dedfd7;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-left: 14rem;
    margin-right: 14rem;

    text-align: center;
}